.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  height: 5cm;
  padding: 0 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  max-width: 300px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slideIn 0.3s ease-out, fadeOut 0.3s ease-out 2.7s forwards;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.notification--success {
  background: linear-gradient(to right bottom, #39b385, #9be15d);
  color: #fff;
}

.notification--error {
  background: linear-gradient(to right bottom, #e52a5a, #ff585f);
  color: #fff;
}

.notification--info {
  background: linear-gradient(to top left, #ffb003, #ffcb03);
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
